@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 26, 26;
  --background-end-rgb: 0, 13, 13;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #001a1a;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-bengali {
  font-family: var(--font-hind-siliguri), sans-serif;
}

.dir-rtl {
  direction: rtl;
}
